@import "tailwindcss";

* {
  box-sizing: border-box;
}

html[data-theme="light"] {
  --primary: #4c31a6;
  --secondary: #5fc0e2;
  --accent: #f9a826;
  --white: #f7f5ff;

  --background: #ffffff;
  --surface: #f7f5ff;
  --text-primary: #2f2b3a;
  --text-secondary: #6d6481;
  --border: #d5cfee;

  --primary1: #2e1b66;
  --primary2: #3e2687;
  --primary3: #4c31a6;
  --primary4: #674cb7;
  --primary5: #8470c9;
  --primary6: #a393da;
  --primary7: #c3b7ea;
  --primary8: #e2dbf7;
  --primary9: #f3edffb3;

  --grey1: #2f2b3a;
  --grey2: #6d6481;
  --grey3: #998eb3;
  --grey4: #b6acd6;
  --grey5: #d5cfee;
  --grey6: #f2ebffb3;
  --grey7: #f5f0ffb2;
  --grey8: #d4bcf866;
  --grey9: #f8f3ffb2;
}

html[data-theme="dark"] {
  --primary: #4c31a6;
  --secondary: #5fc0e2;
  --accent: #f9a826;
  --white: #1a132a;

  --background: #1a132a;
  --surface: #231a39;
  --text-primary: #f7f5ff;
  --text-secondary: #cbbfe9;
  --border: #3c3059;

  --primary1: #dcd1f7;
  --primary2: #b7a8eb;
  --primary3: #947fe0;
  --primary4: #7c63d3;
  --primary5: #6347c5;
  --primary6: #4c31a6;
  --primary7: #3a267d;
  --primary8: #291a57;
  --primary9: #1a0f36;

  --grey1: #f7f5ff;
  --grey2: #cbbfe9;
  --grey3: #998eb3;
  --grey4: #7c7298;
  --grey5: #5d5474;
  --grey6: #3c3059;
  --grey7: #2e2542;
  --grey8: #231a39;
  --grey9: #1a132a;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-white: var(--white);

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-border: var(--border); 

  --color-primary1: var(--primary1);
  --color-primary2: var(--primary2);
  --color-primary3: var(--primary3);
  --color-primary4: var(--primary4);
  --color-primary5: var(--primary5);
  --color-primary6: var(--primary6);
  --color-primary7: var(--primary7);
  --color-primary8: var(--primary8);
  --color-primary9: var(--primary9);

  --color-grey1: var(--grey1);
  --color-grey2: var(--grey2);
  --color-grey3: var(--grey3);        
  --color-grey4: var(--grey4);
  --color-grey5: var(--grey5);
  --color-grey6: var(--grey6);
  --color-grey7: var(--grey7);
  --color-grey8: var(--grey8);
  --color-grey9: var(--grey9);

   --breakpoint-xs: 400px;
}

html {
  scroll-behavior: smooth;
}

body {
     transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--background);
  color: var(--text-primary);
}